
.navbarCustom {
    font-family: "Roboto", sans-serif;
    font-weight: 600;
    font-size: 19px;
    line-height: 27.95px;
    text-align: justify;
    
  }

 .menus {
    color: #293BB1 !important; 
}
@media (min-width: 991px) and (max-width: 1439px) {
    .navbarCustom {
      font-size: 15px; 
      line-height: 14px;  
    }
  
    .menus {
      font-size: 11.925px; 
      letter-spacing: 0.5px; 
    }
  

    .navbar-nav .nav-item {
      margin-right: 0.5rem; 
    }
  
    .navbar-nav .nav-link {
      padding-left: 0.5rem; 
      padding-right: 0.5rem; 
    }
  
   
    .navbar-nav .nav-link.dropdown-toggle {
      padding-left: 0.5rem;
      padding-right: 0.5rem;
    }
  }

  
  
  